@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  /* The Gradient Background defined in tailwind.config.ts will be applied in the layout */
  color: #fff;
}

/* The Grid Pattern */
.bg-grid {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }